<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GhostKitchen App</title>
</head>
<body>
  <h1>GhostKitchen App</h1>
  <div> Welcome ...</div>
  <h2>Menu</h2>
  
</body>
</html>